<script src="<%= basePath %>/core/js/jquery.min.js"></script>
<script src="<%= basePath %>/core/js/jquery.cookies.min.js"></script>
<script type="text/javascript" data-main="<%= basePath %>/module<%= currentPage %>.js" src="<%= basePath %>/core/js/require.js"></script>
</body>
</html>
